{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
<div class="col-lg-7 offset-lg-2">
    <div class="b-paddings bg-dark-blur">
        <h2 class="b-paddings__title">Создание Сообщества</h2>

        <form method="post" class="bootstrap-form" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}

            <input value="Создать сообщество" type="submit"
                   class="b-form__submit b-form__submit_white b-form__submit_margins">
        </form>
    </div>
</div>
{% endblock %}