{% extends 'mainapp/base.html' %}
{% load static %}
{% block title %}Life on Line | Удаление Новости{% endblock %}
{% block content %}
<div class="col-lg-7 offset-lg-2">
    <div class="b-paddings bg-dark-blur text-center">
        <h1 class="b-paddings__title">Удаление сообщества</h1>
        <p>Вы уверены, что хотите удалить это сообщество?</p>

        <img src="/media/{{ object.image|default:'users_avatars/default.png' }}"
             alt="{{ object.name }}" class="user_avatar">

        <h3>{{ object.name }}</h3>
        <p><b>Описание:</b> {{ object.description|default:"Не указано" }}</p>
        <p><b>Дата создания:</b> {{ object.crate_date|default:"Не указано" }}</p>

        <form action="{% url 'community:delete' object.pk %}" method="post"
              class="bootstrap-form" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}

            <input value="Удалить сообщество" type="submit"
                   class="b-form__submit b-form__submit_white b-form__submit_margins text-danger">
            <a href="{{ request.META.HTTP_REFERER }}" class="b-form__submit">
                Отмена
            </a>
        </form>
    </div>
</div>
{% endblock %}