{% extends 'mainapp/base.html' %}
{% block title %}Сообщество "{{ object.name }}" | Life on Line{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="b-profile">
                <div class="b-profile__main-info">
                    <div style="background-image: url('/media/{{ object.image|default:'users_avatars/default.png' }}')"
                         class="b-profile__avatar"></div>
                    <div class="b-profile__username">{{ object.name }}</div>
                </div>

                <div class="b-profile__info-list">
                    {% if object.description %}
                        <p><span>Описание:</span> {{ object.description|default:"Не указано" }}</p>
                    {% endif %}

                    {% if object.crate_date %}
                        <p><span>Дата создания:</span> {{ object.crate_date }}</p>
                    {% endif %}
                </div>

                {% if is_publisher %}
                    <a href="{% url 'community:add_news' object.pk %}" class="b-profile__btn-action">
                       <i class="fa fa-plus" aria-hidden="true"></i> 
                       Добавить новость
                    </a>
                {% endif %}

                {% if user.id == object.creator.id %}
                    <a href="{% url 'community:update' object.pk %}" class="b-profile__btn-action">
                       <i class="fa fa-pencil" aria-hidden="true"></i> Изменить
                    </a>
                    <a href="{% url 'community:publishers' object.pk %}" class="b-profile__btn-action">
                      <i class="fa fa-user-plus" aria-hidden="true"></i> Публикаторы
                    </a>
                    <a href="{% url 'community:delete' object.pk %}" class="b-profile__btn-action b-profile__btn-action_gray">
                        <i class="fa fa-trash" aria-hidden="true"></i> Удалить
                    </a>
                {% endif %}

                {% if object.creator.id != user.pk %}
                    <div data-community_id="{{ object.id }}">
                        <a href="#" onclick="subscribe_community({{ community.pk }})" class="b-profile__btn-action">
                            {% if user.pk in object.get_subscribers_id %}
                                &times;
                                Покинуть
                            {% else %}
                                + Вступить
                            {% endif %}
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="col-md-7">
            {% for news_item in news %}
                {% include 'newsapp/includes/inc_news_item.html' %}
            {% endfor %}

            {% if not news %}
                <div class="b-info text-center">
                    Сообщество еще не опубликовало ни одной новости
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}