{% extends 'mainapp/base.html' %}
{% load static %}
{% block title %}Life on Line | Сообщества{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <div class="b-search-wrap bg-dark-blur unselectable">
            <input type="text" class="b-form__input b-search-input" placeholder="Поиск по сообществам">
            <div class="b-dropdown js-card-dropdown">
                <div class="b-dropdown__current">
                    <span class="b-dropdown__title">Все сообщества</span>
                    <span class="b-dropdown-arrow"></span>
                </div>
                <div class="b-dropdown__other js-card-dropdowns">
                    <div class="b-dropdown__item d-none" data-val="all">Все сообщества</div>
                    <div class="b-dropdown__item" data-val="own">Ваши сообщества</div>
                </div>
            </div>
        </div>

        {% for community in communities %}
            <div class="b-card-item-wrap">
                {% include 'communityapp/includes/community-card-item.html'%}
            </div>
        {% endfor %}

        {% if not object_list %}
        <p>Еще нет ни одного сообщества</p>
        {% endif %}

        <p class="mt-3">
            <a href="{% url 'community:create' %}" class="b-btn-white">
                + Создать сообщество
            </a>
        </p>
    </div>
</div>
{% endblock %}