{% extends 'mainapp/base.html' %}
{% load static %}
{% block title %}Life on Line | Сообщества{% endblock %}
{% block content %}
<div class="col-lg-8 offset-lg-2">
    <h2 class="text-center">Все публикаторы</h2>

    <div class="communities_list">
        {% for user_item in users %}

        <div class="b-card-item" data-type="friends">
            <a href="/profile/user/{{user_item.id}}" class="b-card-item__info">
                <div style="background-image: url('/media/{{ user_item.avatar|default:'users_avatars/default.png' }}')"
                     class="b-card-item__img"></div>

                <div href="{% url 'profile:detail' user_item.pk %}" class="b-card-item__username">
                    {{ user_item.get_name }}
                </div>
            </a>

            <div class="b-card-item__actions">


                <a href="" class="b-card-item__action-btn">
                    {% if user_item.id in publishers_id %}
                    Лишить привилегий
                    {% else %}
                    Сделать публикатором
                    {% endif %}
                </a>


                <div class="b-card-item__extra-actions-btn"></div>

                <div class="b-extra-actions d-none">
                    <!--                    <a href="/friends/remove/1" class="b-extra-actions__btn">-->
                    <!--                        <span class="b-card-item__delete-icon"></span>-->
                    <!--                        Удалить из друзей-->
                    <!--                    </a>-->
                    <div class="b-extra-actions__cancel-btn">Закрыть</div>
                </div>
            </div>
        </div>
        {% endfor %}

        {% if not users %}
        <p>У вашего сообщества еще нет ни одного подписчика</p>
        {% endif %}
    </div>
</div>
{% endblock %}