{% extends 'mainapp/base.html' %}
{% load static %}
{% block title %}Изменение публикаторов сообщества | Life on Line{% endblock %}
{% block content %}
<div class="col-lg-8 offset-lg-2">
    <h3 class="text-center mb-4">Публикаторы сообщества "{{ community.name }}"</h3>

    <div class="b-card-item-wrap">
        {% for user_item in users %}

        <div class="b-card-item" data-type="friends">
            <a href="/profile/user/{{user_item.id}}" class="b-card-item__info">
                <div style="background-image: url('/media/{{ user_item.avatar|default:'users_avatars/default.png' }}')"
                     class="b-card-item__img"></div>

                <div href="{% url 'profile:detail' user_item.pk %}" class="b-card-item__username">
                    {{ user_item.get_name }}
                </div>
            </a>

            <div class="b-card-item__actions">


                <a class="b-card-item__action-btn js-change-publicator b-card-item__action-btn_active" 
                   data-user-id="{{ user_item.id }}" data-community-id="{{ community.id }}">
                    {% if user_item.id in publishers_id %}
                        Лишить привилегий
                    {% else %}
                        Сделать публикатором
                    {% endif %}
                </a>


                <div class="b-card-item__extra-actions-btn"></div>

                <div class="b-extra-actions d-none">
                    <div class="b-extra-actions__cancel-btn">Закрыть</div>
                </div>
            </div>
        </div>
        {% endfor %}

        {% if not users %}
        <p>У вашего сообщества еще нет ни одного подписчика</p>
        {% endif %}
    </div>
</div>
{% endblock %}