{% load static %}
<nav class="b-navbar">
    <div class="d-flex align-items-center container">
        <div class="col-lg-3">
            <div class="menu-burger__header">
                <span></span>
            </div>

            <a class="b-logo" href="{% url 'main' %}">
                <img class="b-logo__img" src="{% static 'img/logo.png' %}" alt="header_logo">
            </a>
        </div>

        <div class="col-lg-6">
            <div class="b-navbar__list">
                <div class="b-nav-item">
                    <a class="b-nav-item__link
                   {% if 'news' in request.resolver_match.namespaces %}b-nav-item__link_active{% endif %}"
                       href="{% url 'news:main' %}">
                        Новости
                    </a>
                </div>
                <div class="b-nav-item">
                    <a class="b-nav-item__link {% if 'messenger' in request.resolver_match.namespaces %}b-nav-item__link_active{% endif %}"
                       href="{% url 'messenger:dialogs' %}">
                        Сообщения
                        <span class="b-nav-item__new-msg-counter js-new-msg-header-counter {% if unread_chats.count == 0 %}d-none {% endif %}">
                            {{ unread_chats.count }}
                        </span>
                    </a>
                </div>
                <div class="b-nav-item">
                    <a class="b-nav-item__link {% if 'friends' in request.resolver_match.namespaces %}b-nav-item__link_active{% endif %}"
                       href="{% url 'friends:main' %}">Друзья</a>
                </div>
                <div class="b-nav-item">
                    <a class="b-nav-item__link
                   {% if 'community' in request.resolver_match.namespaces %}b-nav-item__link_active{% endif %}"
                       href="{% url 'community:main' %}">
                        Сообщества
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <form class="form-inline justify-content-end">
                {% if user.is_authenticated %}
                <a href="{% url 'profile:detail' user.pk %}">
                    <img src="/media/{{ user.avatar|default:'users_avatars/default.png' }}"
                         alt="Автар пользователя {{ user.get_name }}" class="b-user-img_small">
                </a>
                <div class="b-nav-item">
                    <a class="b-nav-item__link {% if 'profile' in request.resolver_match.namespaces %}b-nav-item__link_active{% endif %}"
                       href="{% url 'profile:detail' user.pk %}">
                        {{ user.get_name }}
                    </a>
                </div>
                {% else %}
                {% if request.resolver_match.url_name == 'login' %}
                <a class="b-nav-btn" href="{% url 'auth:register' %}">Зарегистрироваться</a>
                {% else %}
                <a class="b-nav-btn" href="{% url 'auth:login' %}">Авторизоваться</a>
                {% endif %}
                {% endif %}
            </form>
        </div>
    </div>
</nav>