{% extends 'mainapp/base.html' %}
{% load static %}
{% block title %}Life on Line | Удаление Новости{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="b-paddings col-lg-7 offset-lg-2">
            <h1 class="b-paddings__title">Вы уверены, что хотите удалить эту новость?</h1>

            {% include 'newsapp/includes/inc_news_item.html' with news_item=object%}

            <form action="{% url 'admin:news_delete' object.pk %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input value="Удалить новость" type="submit"
                       class="b-form__submit b-form__submit_white b-form__submit_margins text-danger">
                <a href="{{ request.META.HTTP_REFERER }}" class="b-form__submit">
                    Отмена
                </a>
            </form>
        </div>
    </div>
</div>
{% endblock %}