{% extends 'adminapp/admin_base.html' %}
{% load static %}
{% block title %}Life on Line | Новости{% endblock %}
{% block content %}
    <div class="container content">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center mt-5 mb-5">Список новостей</h2>

                <table class="table admin-table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Автор</th>
                        <th scope="col">Текст</th>
                        <th scope="col">Дата создания</th>
                        <th scope="col">Изображение</th>
                        <th scope="col">Модерировано</th>
                        <th scope="col">Принято</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for news_item in news %}
                        <tr>
                            <th scope="row">{{ news_item.pk }}</th>
                            <td><a href="{% url 'profileapp:detail' news_item.user.pk %}">{{ news_item.user }}</a></td>
                            <td class="admin-panel_text-value">{{ news_item.text|safe }}</td>
                            <td>{{ news_item.add_datetime }}</td>
                            <td class="img-td">
                                {% if news_item.image %}
                                    <img src="/media/{{ news_item.image }}" alt="Изображение новости"
                                         class="admin-panel_img-value">
                                {% else %}
                                    —
                                {% endif %}
                            </td>
                            <td>{{ news_item.is_moderated|yesno:'Да,Нет' }}</td>
                            <td>{{ news_item.is_accepted|yesno:'Да,Нет' }}</td>
                            <td class="action-list-td">
                                <a href="{% url 'admin:news_update' news_item.pk %}"
                                   class="btn btn-outline-success"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                <a href="{% url 'admin:news_delete' news_item.pk %}"
                                   class="btn btn-outline-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}