*.idea
*.pyc
*__pycache__
*.sqlite3
*.json
*.sass-cache

/venv

/media/*

!/media/users_avatars/
/media/users_avatars/*
!/media/users_avatars/default.png

!/media/chat_logos/
/media/chat_logos/*
!/media/chat_logos/default.png

!/media/communities_images/
/media/communities_images/*
!/media/communities_images/default.png