{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
<div class="container  text-center">
    <div class="b-auth-form__wrap col-lg-6 offset-lg-3">
        <h2 class="b-auth-form__title">Регистрация</h2>
        <form method="post" class="b-auth-form">
            {% csrf_token %}
            {{ form.non_field_errors|striptags }}

            {% for field in form %}
                {{ field.errors }}
                {{ field }}
            {% endfor %}

            <input type="submit" class="b-auth-form__submit" value="Зарегистрироваться">
        </form>
        <p class="b-help-text">
            Уже есть аккаунт?
            <a href="{% url 'auth:login'%}" class="b-help-text__link">Авторизоваться ›</a>
        </p>
    </div>
</div>
{% endblock %}