{% extends 'adminapp/admin_base.html' %}
{% load static %}
{% block title %}Life on Line | Новости{% endblock %}
{% block content %}
    <div class="container content">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2 class="text-center mt-4 mb-4">Модерация новостей</h2>

                {% for news_item in news %}
                    <div class="d-flex align-items-center news-moderate_wrap">
                        {% include 'newsapp/includes/inc_news_item.html' %}

                        <div class="news-moderate_btns">
                            <button data-url="{% url 'admin:news_moderate_update' news_item.pk %}" data-action="accept"
                                    class="btn btn-outline-success js-moderate-news">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </button>

                            <button data-url="{% url 'admin:news_moderate_update' news_item.pk %}" data-action="deny"
                                    class="btn btn-outline-danger js-moderate-news">
                                <i class="fa fa-ban" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                {% endfor %}

                {% if not news %}
                    <div class="b-info text-center">
                        Все новости прошли модерацию
                    </div>
                {% endif %}


                <a href="{% url 'admin:news_read' %}" class="b-form__submit b-form__submit_white b-form__submit_margins">
                    Завершить модерирование
                </a>
            </div>
        </div>
    </div>
{% endblock %}