{% extends 'adminapp/base.html' %}
{% load static %}
{% block title %}Life on Line | Новости{% endblock %}
{% block content %}
    <div class="container content">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center">Список новостей</h2>

                <table class="table admin-table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Автор</th>
                        <th scope="col">Текст</th>
                        <th scope="col">Дата</th>
                        <th scope="col">Изображение</th>
                        <th scope="col">Модерировано</th>
                        <th scope="col">Принято</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for news_item in news %}
                        <tr>
                            <th scope="row">{{ news_item.pk }}</th>
                            <td>{{ news_item.user }}</td>
                            <td class="admin-panel_text-value">{{ news_item.text|safe }}</td>
                            <td>{{ news_item.add_datetime }}</td>
                            <td class="img-td">
                                <img src="/media/{{ news_item.image }}" alt="Изображение новости"
                                     class="admin-panel_img-value">
                            </td>
                            <td>{{ news_item.is_moderated }}</td>
                            <td>{{ news_item.is_accepted }}</td>
                            <td class="action-list-td">
                                <a href="{% url 'admin:news_update' news_item.pk %}"
                                   class="btn btn-outline-success"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                <a href="{% url 'admin:news_delete' news_item.pk %}"
                                   class="btn btn-outline-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <a href="{% url 'admin:news_create' %}" class="btn btn-success">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    Создать новость
                </a>
            </div>
        </div>
    </div>
{% endblock %}