{% load static %}
<div class="b-card-item" {% if usr.pk in friends_pk %}
     data-type="friends"
{% elif usr.pk in requests_pk %}
     data-type="requests"
{% endif %}
>
    <a href="{% url 'profile:detail' usr.pk %}" class="b-card-item__info">
        <div style="background-image: url('/media/{{ friend.avatar|default:'users_avatars/default.png' }}')"
             class="b-card-item__img"></div>
    </a>

    <div class="b-card-item__content">
        <a href="{% url 'profile:detail' usr.pk %}" class="b-card-item__username">
            {{ usr.get_name }}
        </a>

        <div class="b-card-item__actions">
            {% if usr.pk in friends_pk %}
                <a href="{% url 'messenger:create_dialog' usr.pk %}" class="b-card-item__action-btn">
                    Написать сообщение
                </a>
                <div class="b-card-item__extra-actions-btn"></div>

                <div class="b-extra-actions d-none">
                    <a href="{% url 'friends:update' usr.pk %}" class="b-extra-actions__btn js-update-friend"
                       data-action="remove">
                        <span class="b-card-item__delete-icon"></span>
                        Удалить из друзей
                    </a>
                    <div class="b-extra-actions__cancel-btn">Закрыть</div>
                </div>
            {% elif usr.pk in requests_pk %}
                <a href="{% url 'friends:update' usr.pk %}" class="b-card-item__action-btn js-update-friend"
                   data-action="accept">
                    Принять запрос в друзья
                </a>
                <div class="b-card-item__extra-actions-btn"></div>

                <div class="b-extra-actions d-none">
                    <a href="{% url 'friends:update' usr.pk %}" class="b-extra-actions__btn js-update-friend"
                       data-action="deny">
                        <span class="b-card-item__delete-icon"></span>
                        Отклонить запрос
                    </a>
                    <div class="b-extra-actions__cancel-btn">Закрыть</div>
                </div>
            {% else %}
                {% if usr.pk in sent_requests_pk %}
                    <a href="{% url 'friends:update' usr.pk %}" class="b-card-item__action-btn js-update-friend"
                       data-action="cancel">
                        Отменить запрос
                    </a>
                {% else %}
                    <a href="{% url 'friends:update' usr.pk %}" class="b-card-item__action-btn js-update-friend"
                       data-action="add">
                        Добавить в друзья
                    </a>
                {% endif %}

                <div class="b-card-item__extra-actions-btn"></div>

                <div class="b-extra-actions d-none">
                    <a href="{% url 'messenger:create_dialog' usr.pk %}"
                       class="b-extra-actions__btn">
                        <span class="b-card-item__icon icon-write-msg_blck"></span>
                        Написать сообщение
                    </a>
                    <div class="b-extra-actions__cancel-btn">Закрыть</div>
                </div>
            {% endif %}
        </div>
    </div>
</div>