@charset "UTF-8";
/* ---------- BASE styles START ---------- */
body {
  background-color: #2a2d2e;
  color: #dedcd9;
  min-height: 100vh; }

.content {
  border-radius: 0 0 4px 4px;
  padding: 10px; }

.navbar {
  background-color: #383c3d;
  position: relative;
  padding: 8px 10px; }
  .navbar .nav-item a.nav-link {
    color: rgba(222, 220, 217, 0.5); }
    .navbar .nav-item a.nav-link:hover, .navbar .nav-item a.nav-link:visited {
      color: #ccc; }

.auth_form_wrapper {
  display: inline-block;
  width: 300px; }

.user_avatar {
  width: 230px;
  height: 230px;
  border-radius: 100%;
  margin-bottom: 1em; }

.user_avatar_news {
  width: 50px;
  height: 50px;
  border-radius: 100%; }

.trash_icon {
  height: 20px; }

.fixed-page {
  overflow: hidden; }

.current_user {
  text-align: right; }

.make_news_btn {
  display: none; }

.staff_icon {
  max-width: 15px; }

form input[type='file'] {
  padding: 3px; }

/* ---------- BASE styles END ---------- */
/* ---------- News styles START ---------- */
.news_block {
  max-width: 550px;
  min-height: 300px;
  margin: 0 auto; }

.news_item {
  background-color: #222425;
  width: 100%;
  min-height: 150px;
  padding: 20px;
  border-radius: 3px;
  margin-bottom: 20px;
  margin-top: 20px;
  position: relative; }
  .news_item .news_item_image {
    text-align: center; }
    .news_item .news_item_image img {
      max-width: 100%;
      margin: 10px 0; }
  .news_item .news_item_title-username a:first-child:hover {
    text-decoration: none; }
  .news_item .news_item_title_post-date {
    color: #cac6c1; }
  .news_item .news_item_text {
    margin-top: 10px; }

.news_item_title-username, .friend_item_title-username {
  font-size: 20px;
  max-height: 50px;
  overflow: hidden; }

.new_message_alert {
  color: #dc3545; }

.likes_block {
  height: 30px; }
  .likes_block a {
    display: block;
    background-image: url("../img/like_btn.png");
    background-size: cover;
    width: 30px;
    height: 30px;
    float: left; }
    .likes_block a:hover {
      cursor: pointer;
      background-image: url("../img/like_btn_full.png"); }
    .likes_block a.liked {
      background-image: url("../img/like_btn_full.png"); }
  .likes_block span {
    line-height: 30px;
    margin-left: 1px; }

/* ---------- News styles END ---------- */
/* ---------- Friends styles START ---------- */
.friend_item {
  background-color: #222425;
  width: 100%;
  padding: 15px;
  border-radius: 3px;
  margin: 5px 0;
  display: inline-block;
  max-height: 70px;
  overflow: hidden; }
  .friend_item .friend_item_title {
    line-height: 40px; }
  .friend_item .friend_item_unfriend {
    height: 100%;
    float: right;
    position: relative; }

.user_avatar_friends {
  float: left;
  margin: -10px 10px -10px -10px;
  width: 60px;
  height: 60px; }

/* ---------- Friends styles END ---------- */
/* ---------- Messenger styles START ---------- */
.chat_block_wrapper {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  outline: 1px solid #5e5e5e; }

.chat_block {
  height: 80vh;
  overflow: auto;
  padding: 10px 5px 40px; }

.chat_block_link {
  display: block; }

.chat_form_wrapper {
  position: absolute;
  top: 100%;
  margin-top: -37px;
  margin-left: -5px; }

.message_item {
  padding: 1px 20px;
  display: inline-block;
  border-radius: 10px;
  margin: 5px 0;
  max-width: 55%;
  background-color: #222425;
  word-wrap: break-word; }

.message_item p {
  font-size: 20px;
  margin-top: -5px;
  position: relative; }

.chat_form_wrapper {
  width: 100%;
  background-color: #5e5e5e; }
  .chat_form_wrapper input[name='message'] {
    position: absolute;
    width: 65%;
    margin-right: 105px;
    left: 0;
    top: 0; }
  .chat_form_wrapper button {
    position: absolute;
    width: 35%;
    right: 0;
    top: 0; }

.dialog_title_wrapper {
  position: relative;
  height: 40px;
  background-color: #222425;
  line-height: 40px;
  border-bottom: 1px solid #5e5e5e;
  overflow: hidden; }

.back_to_dialogs {
  float: left;
  margin: 0 15px; }

.unread:after {
  content: "●";
  font-size: 30px;
  position: absolute;
  left: -50px;
  color: #007bff; }

.friend_item_title-username {
  max-height: 20px;
  line-height: 20px; }

.unread_chat_circle {
  color: #007bff;
  display: inline; }

.form-control, .form-control:focus {
  color: #dedcd9;
  background-color: #222425;
  border-color: #5e5e5e; }

/* ---------- Messenger styles END ---------- */
/* ---------- Admin styles START ---------- */
.admin-table tr {
  position: relative; }
.admin-table td, .admin-table th {
  vertical-align: middle; }
.admin-table tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.075); }
.admin-table td.img-td {
  padding: 0; }
.admin-table td.admin-panel_text-value {
  max-width: 200px; }

img.admin-panel_img-value {
  max-width: 200px;
  max-height: 100px; }

.news-moderate_btns button {
  font-size: 2rem;
  display: block;
  width: 4rem;
  height: 4rem;
  margin: 1rem; }

.news_item.accepted {
  outline: 4px solid #28a745;
  transition: 0.3s;
  box-shadow: 0 0 20px 0 #28a745; }

.news_item.canceled {
  outline: 4px solid #dc3545;
  transition: 0.3s;
  box-shadow: 0 0 20px 0 #dc3545; }

/* ---------- Admin styles END ---------- */
@media (max-width: 992px) {
  .chat_block .message_item {
    max-width: 70%; }
    .chat_block .message_item p {
      font-size: 17px;
      margin-bottom: 10px; }

  .user_info {
    text-align: center; }

  .navbar-nav {
    display: block;
    position: absolute;
    top: 70px;
    background: #222425;
    width: 100%;
    box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.17);
    left: -100%;
    transition: all 0.4s ease;
    z-index: 999;
    overflow: auto; }
    .navbar-nav .nav-item {
      background: #222425; }

  .navbar-brand, .form-inline {
    margin: 0; }

  .navbar .form-inline a {
    line-height: 18px;
    margin-right: 0;
    max-width: 100px;
    padding: 7px 5px; }

  .navbar-nav li {
    margin: 10px;
    font-size: 14px; }

  .header_image-logo {
    margin-left: 50px;
    max-width: 200px; }

  .navbar-nav.open-menu {
    left: 0; }

  /* ---------- Burger styles START ---------- */
  .menu-burger__header {
    position: absolute;
    width: 40px;
    height: 35px;
    display: block; }
    .menu-burger__header span {
      top: 16px; }

  .menu-burger__header:before, .menu-burger__header:after, .menu-burger__header span {
    height: 3px;
    width: 100%;
    position: absolute;
    background: #515758;
    margin: 0 auto; }

  .menu-burger__header:before {
    content: "";
    top: 5px; }
  .menu-burger__header:after {
    content: "";
    bottom: 5px; }

  .menu-burger__header.open-menu:before {
    transform: rotate(38deg);
    top: 16px;
    transition: 0.4s; }
  .menu-burger__header.open-menu:after {
    transform: rotate(-38deg);
    bottom: 16px;
    transition: 0.4s; }
  .menu-burger__header.open-menu span {
    opacity: 0;
    transition: 0.5s; }

  /* ---------- Burger styles END ---------- */
  .user_avatar_friends {
    display: none; }

  .make_news_btn {
    display: block;
    padding: 0; }
    .make_news_btn img {
      max-height: 39px; }

  .make_news_btn-green {
    display: none; }

  .unread:after {
    content: "●";
    font-size: 25px;
    left: -45px; } }

/*# sourceMappingURL=dark_theme.css.map */
