body {
    background-color: #efefef;
}

.navbar {
    background-color: #ced4da;
    position: relative;
    padding: 8px 10px;
}

.content {
    border-radius: 0 0 4px 4px;
    padding: 10px;
}

.news_block {
    max-width: 550px;
    min-height: 300px;
    margin: 0 auto;
}

.news_item {
    background-color: white;
    width: 100%;
    min-height: 150px;
    padding: 20px;
    border-radius: 3px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.news_item_title-username, .friend_item_title-username {
    font-size: 20px;
    max-height: 50px;
    overflow: hidden;
}


.friend_item_title-username {
    max-height: 30px;
}

.news_item_title_post-date {
    color: #c0c0c0;
}

.news_item_text {
    margin-top: 20px;
}

.auth_form_wrapper {
    display: inline-block;
    width: 300px;
}

.user_avatar {
    width: 230px;
    height: 230px;
    border-radius: 100%;
    margin-bottom: 1em;
}

.friend_item {
    background-color: white;
    width: 100%;
    /*height: 72px;*/
    padding: 15px;
    border-radius: 3px;
    margin: 5px 0;
    display: inline-block;
}

.friend_item_title {
    line-height: 40px;
}

.friend_item_unfriend {
    height: 100%;
    /*display: flex;*/
    float: right;
    position: relative;
}

.chat_block_wrapper {
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    outline: 1px solid #cccccc;
}

.chat_block {
    height: 80vh;
    overflow: auto;
    padding: 10px 5px 40px;
    /*background-color: #000;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: flex-end;*/
    /*flex-wrap: nowrap;*/
}

.chat_block_link {
    display: inline-block;
}

.chat_form_wrapper {
    position: absolute;
    top: 100%;
    margin-top: -37px;
    margin-left: -6px;
}

.current_user {
    text-align: right;
}

.message_item {
    padding: 1px 20px;
    display: inline-block;
    border-radius: 10px;
    margin: 5px 0;
    max-width: 55%;
    background-color: #fff;
    word-wrap: break-word;
}

.message_item p {
    font-size: 20px;
    margin-top: -5px;
}

.chat_form_wrapper {
    width: 100%;
    background-color: #cccccc;
}

.chat_form_wrapper input[name='message'] {
    position: absolute;
    width: 75%;
    margin-right: 105px;
    left: 0;
    top: 0;
}

.chat_form_wrapper button {
    position: absolute;
    width: 25%;
    right: 0;
    top: 0;
}

.dialog_title_wrapper {
    position: relative;
    height: 40px;
    background-color: #fff;
    line-height: 40px;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
}

.back_to_dialogs {
    float: left;
    margin: 0 15px;
}

.user_avatar_news {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    /*float: left;*/
}

.user_avatar_friends {
    float: left;
    margin: -10px 10px -10px -10px;
    width: 60px;
    height: 60px;
}

.fixed-page {
    overflow: hidden;
}

@media (max-width: 992px) {
    .chat_block {
        height: 60vh;
    }

    .user_info {
        text-align: center;
    }

    .navbar-nav {
        display: block;
        position: absolute;
        top: 55px;
        background: rgb(245, 246, 246);
        width: 100%;
        box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.17);
        left: -100%;
        transition: all 0.4s ease;
        z-index: 999;
        overflow: auto;
    }

    .navbar-brand, .form-inline {
        margin: 0 auto;
    }

    .navbar-nav li {
        margin: 10px;
        font-size: 14px;
    }

    .navbar-nav.open-menu {
        left: 0;
    }

    /* Burger styles START */
    .menu-burger__header {
        position: relative;
        width: 40px;
        height: 35px;
        display: block;
    }

    .menu-burger__header span, .menu-burger__header:after, .menu-burger__header:before {
        height: 3px;
        width: 100%;
        position: absolute;
        background: #515758;
        margin: 0 auto;
    }

    .menu-burger__header span {
        top: 16px;
    }

    .menu-burger__header:after, .menu-burger__header:before {
        content: '';
    }

    .menu-burger__header:after {
        bottom: 5px;
    }

    .menu-burger__header:before {
        top: 5px;
    }

    .menu-burger__header.open-menu span {
        opacity: 0;
        transition: 0.5s;
    }

    .menu-burger__header.open-menu:before {
        transform: rotate(38deg);
        top: 16px;
        transition: 0.4s;
    }

    .menu-burger__header.open-menu:after {
        transform: rotate(-38deg);
        bottom: 16px;
        transition: 0.4s;
    }

    /* Burger styles END */
}