{% extends 'mainapp/base.html' %}
{% load static %}
{% block title %}Life on Line | Новости{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="b-news-wrap col-lg-7 offset-lg-2">
            <form action="{% url 'news:create' %}" method="POST" class="b-create-news-form bg-dark-blur unselectable js-add-news-form">
                {% csrf_token %}
                <input required name="text" class="b-form__input" placeholder="Что нового?">
                <input type="submit" class="b-form__submit b-form__submit_white b-create-news-form__submit"
                       value="Опубликовать">
            </form>

            {% for news_item in all_news %}
            {% include 'newsapp/includes/inc_news_item.html'%}
            {% endfor %}

            {% if not all_news %}
            У вас пока нет ни одной новости. <br>
            Добавьте ее сами или добавьтесь в друзья к пользователям.
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}