{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="b-info">
                <h1 class="text-center mb-4">Сброс пароля отправлен</h1>
                <p>
                    Мы отправили вам по электронной почте инструкции по установке вашего пароля, если существует учетная
                    запись с адресом электронной почты, который вы указали. Вы должны получить их в ближайшее время.<br>
                    Если вы не получили электронное письмо, пожалуйста, убедитесь, что вы ввели адрес, с которым
                    вы зарегистрировались, и проверьте папку со спамом.
                </p>
            </div>
        </div>
    </div>
{% endblock %}