{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
    <div class="b-auth-form__wrap">
        <h2 class="b-auth-form__title text-center">Сброс пароля</h2>
        <p>
            Для сброса пароля ведите свой адрес электронной почты ниже, и мы вышлем вам по электронной почте
            инструкции по настройке нового пароля.
        </p>

        <form method="POST">
            {% csrf_token %}
            {{ password_reset_form }}
            <input type="submit" class="b-form__submit mt-2 mb-3" value="Сбросить пароль">
        </form>
        <p class="b-help-text text-center">
            Вспомнили пароль?
            <a href="{% url 'auth:login' %}" class="b-help-text__link">Авторизации ›</a>
        </p>
    </div>
{% endblock %}