{% extends 'mainapp/base.html' %}
{% load static %}
{% block title %}Друзья | Life on Line{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-8 offset-lg-2">

            <div class="b-search-wrap bg-dark-blur unselectable">
                <input type="text" class="b-form__input b-search-input" placeholder="Поиск">
                <div class="b-dropdown js-card-dropdown">
                    <div class="b-dropdown__current">
                        <span class="b-dropdown__title">Все пользователи</span>
                        <span class="b-dropdown-arrow"></span>
                    </div>
                    <div class="b-dropdown__other js-card-dropdowns">
                        <div class="b-dropdown__item d-none" data-val="all">Все пользователи</div>
                        <div class="b-dropdown__item" data-val="friends">Ваши друзья</div>
                        <div class="b-dropdown__item" data-val="requests">Заявки в друзья</div>
                    </div>
                </div>
            </div>

            <!-- Все пользователи -->
            {% for usr in users %}
                {% include 'friendsapp/includes/inc_friend_item.html' with usr=usr friends_pk=friends_pk requests_pk=requests_pk sent_requests_pk=sent_requests_pk %}
            {% endfor %}
        </div>
    </div>
{% endblock %}