<div class="b-comments-list js-comments-list" data-news-id="{{ news_item.id }}">
    <div class="b-comments-separator"><span>Комментарии</span></div>

    {% for comment in news_item.all_comments %}
    <div class="b-comment-item">
        <a href="/profile/user/{{ comment.author.pk }}">
            <div style="background-image: url('/media/{{ comment.author.avatar|default:'users_avatars/default.png' }}')"
                 class="b-comment-item__avatar"></div>
        </a>
        <div class="comment__content">
            <a href="/profile/user/{{ comment.author.pk }}" class="b-comment-item__author">
                {{ comment.author.get_name }}
            </a>
            <div class="b-comment-item__text">{{ comment.text }}</div>
            <div class="b-comment-item__date">{{ comment.add_datetime }}</div>
        </div>
        {% if comment.author.pk == user.pk %}
        <div onclick="delete_comment({{ comment.pk }})" class="btn-delete-comment"></div>
        {% endif %}
    </div>
    {% endfor %}
</div>