<div class="news_item">
    <div class="news_item_title">
        <div class="news_item_title-username">
            <a href="{% url 'profile:detail' news_item.user.pk %}">
                <img src="/media/{{ news_item.user.avatar|default:"users_avatars/default.png" }}"
                 alt="Аватарка" class="user_avatar_news">
            </a>
            <a href="{% url 'profile:detail' news_item.user.pk %}">
                {{ news_item.user.get_name }}
            </a>
        </div>
        <div class="news_item_title_post-date">
            {{ news_item.add_datetime }}
        </div>
    </div>
    <div class="news_item_text">
        {{ news_item.text|safe }}
        {% if news_item.image %}
            <div class="news_item_image">
                <a href="/media/{{ news_item.image }}" target="_blank">
                    <img src="/media/{{ news_item.image }}" alt="Изображение новости">
                </a>
            </div>
        {% endif %}
    </div>

    {#  Remove work only for profileapp  #}
    {% if cur_user.pk == user.pk %}
        <p class="float-right">
            <a href="{% url 'news:delete' news_item.pk %}" class="text-danger">Удалить</a>
        </p>
    {% endif %}
    {# end remove block #}
    {% include 'newsapp/includes/likes_block.html' %}
</div>
