{% extends 'mainapp/base.html' %}
{% load static %}
{% block title %}Life Life | Сообщения{% endblock %}
{% block content %}
    <div class="container content">
        <div class="news_block">
            <h2 class="text-center">Вкладка "Чаты"</h2>
            <h4>Ваши Чаты:</h4>
            {% if chats.count == 0 %}
                У вас еще нет созданных чатов
            {% endif %}
            {% for chat in chats %}
                <div class="friend_item">
                    <div class="friend_item_unfriend">
                        <a href="{% url 'messenger:delete_chat' chat.pk %}" class="btn btn-danger">Удалить</a>
                        <a href="{% url 'messenger:messages' chat.pk %}" class="btn btn-success mr-1">Открыть чат</a>
                    </div>
                    <div class="friend_item_title">
                        <div class="friend_item_title-username">
                            {% if chat.type == 'D' %}
                                {% for member in chat.members.all %}
                                    {% if member.pk != user.pk %}
                                        {{ member.get_name|default:'Пользователь удален' }}
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                {{ chat.title }} <small>(беседа)</small>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}