{% extends 'mainapp/base.html' %}
{% load static %}
{% block title %}Life Life | Сообщения{% endblock %}
{% block content %}
    <div class="container content">
        <div class="chat_block_wrapper">
            <div class="dialog_title_wrapper flex-column">
                <a href="{% url 'messenger:dialogs' %}" class="back_to_dialogs">Вернуться к диалогам</a>
                <div class="dialog_name">
                    {% if chat.type == 'D' %}
                        {% for member in chat.members.all %}
                            {% if member.pk != user.pk %}
                                Диалог с пользователелем <a href="{% url 'profile:detail' member.pk%}">{{ member.get_name }}</a>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        Беседа {{ chat.title }}
                    {% endif %}
                </div>
            </div>
            <div class="chat_block" id="chat_block">
                {% if not chat %}
                    Невозможно начать беседу. Не найден пользователь или вы не имеете доступа к данной беседе.
                {% else %}
                    {% if chat.message_set.all.count == 0 %}
                        Напишите сообщение первым!
                    {% endif %}
                    {% for message in chat.message_set.all %}
                        {% include 'messengerapp/includes/message_dialog.html' with message_item=message %}
                    {% endfor %}
                    <div class="chat_form_wrapper">
                        <form method="post" class="form-inline">
                            {% csrf_token %}
                            <input name="message" class="form-control" placeholder="Ваше сообщение..." autofocus>
                            <button type="submit" class="btn btn-primary mb-2">Отправить</button>
                        </form>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var block = document.getElementById("chat_block");
        block.scrollTop = 9999;
    </script>
{% endblock %}