<!--suppress ALL -->
{% extends 'mainapp/base.html' %}
{% load static %}
{% block title %}Life on Line | Сообщения{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-10 offset-lg-1">
        <div class="b-chat">
            <div class="b-chat__info">
                <a href="{% url 'messenger:dialogs' %}" class="btn-back"></a>
                <div class="b-chat__interlocutor">
                    {% if chat.type == 'D' %}
                        {% for member in chat.members.all %}
                            {% if member.pk != user.pk %}
                                <span>Диалог с</span>
                                <a href="{% url 'profile:detail' member.pk %}">
                                    <div style="background-image: url(
                                    '/media/{{ member.avatar|default:'users_avatars/default.png'}}'
                                    )" class="b-user-img_small"></div>
                                    {{ member.get_name }}
                                </a>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        Беседа {{ chat.title }}
                    {% endif %}
                </div>
            </div>
            <div class="b-chat__content js-chat-block">
                <div class="b-chat__content__messages">
                    {% include 'messengerapp/includes/message_dialog.html'%}
                </div>
            </div>
            <form method="post" class="b-chat__form">
                {% csrf_token %}
                <input name="message" class="b-form__input" placeholder="Ваше сообщение..." autofocus>
                <input name="chat_pk" value="{{ chat.pk }}" type="hidden">
                <div class="b-send-btn" onclick="javascript:this.parentNode.submit();"></div>
            </form>
        </div>
    </div>
</div>

<script>
    let chat = document.getElementsByClassName("js-chat-block")[0];
    chat.scrollTop = chat.scrollHeight;

    const chat_id = "{{ chat.id }}";
    const chat_members = "{{ chat.get_members }}";


    let chatSocket = new WebSocket(
        'ws://' + window.location.host + '/ws/chat/' + chat_id + '/');

    chatSocket.onmessage = function (e) {
        let data = JSON.parse(e.data),
            event = data['event'];

        console.log(data);

        if (event === 'new_msg') {
            process_message(data);
        } else if (event === 'read' && data['user_id'] !== user_id) {
            $('.b-msg-item.b-msg-item_unread').removeClass('b-msg-item_unread');
        }
    };

    function process_message(data) {
        let is_own_class = '';
        let is_read_class = '';

        if (data['author_id'] === user_id) {
            is_own_class = 'current_user';
            is_read_class = "b-msg-item_unread";
        } else {
            chatSocket.send(JSON.stringify({
                'action': 'read',
                'chat_id': chat_id
            }));
        }

        let msg = '' +
            '<div class="b-msg-item-wrap ' + is_own_class + '">\n' +
            '   <div class="b-msg-item ' + is_read_class + '">\n' +
            '       <span class="b-msg-item__text">' + data['message'] + '</span>\n' +
            '       <span class="b-msg-item__time">' + data['time'] + '</span>\n' +
            '   </div>\n' +
            '</div>';

        $('.b-chat__content__messages')[0].innerHTML += msg;
        $(".js-chat-block")[0].scrollTop = 9999;
    }

    chatSocket.onclose = function (e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('.b-chat__form').addEventListener('submit', function (e) {
        e.preventDefault();

        let messageInputDom = document.querySelector('.b-form__input');
        let message = messageInputDom.value;
        let date = new Date();

        chatSocket.send(JSON.stringify({
            'action': 'message',
            'message': message,
            'time': date.getHours() + ':' + (date.getMinutes() < 10 ? '0' : '') + date.getMinutes(),
            'author_id': user_id,
            'members': chat_members
        }));

        $('.b-chat__content__no-msg').addClass('d-none');

        messageInputDom.value = '';
    });
</script>
{% endblock %}