{% load static %}
{% for chat in chats %}
    <div class="friend_item">
        <div class="friend_item_unfriend">
            <a href="{% url 'messenger:delete_chat' chat.pk %}" class="btn btn-danger">
                <img class="trash_icon" src="{% static 'img/trash_icon.png' %}" alt="trash">
            </a>
            <a href="{% url 'messenger:messages' chat.pk %}" class="btn btn-success mr-1">Чат</a>
        </div>
        <div class="friend_item_title">
            {% if chat.type == 'D' %}
                {% for member in chat.members.all %}
                    {% if member.pk != user.pk %}
                        <img src="/media/{{ member.avatar|default:"users_avatars/default.png" }}"
                                {# alt="Аватарка" class="user_avatar_news user_avatar_friends">
                    {% endif %}
                {% endfor %}
            {% else %}
                <img src="/media/users_avatars/default.png" alt="Аватарка"
                     class="user_avatar_news user_avatar_friends">
            {% endif %}
            <div class="friend_item_title-username">
                {% if chat in unread_chats %}
                    <span class="new_message_alert">new</span>
                {% endif %}

                {% for member in chat.members.all %}
                    {% if member.pk != user.pk %}
                        {{ member.get_name|default:'Пользователь удален' }}
                    {% endif %}
                {% endfor %}
            </div>

            - {{ chat.last_message|default:"*Нет сообщений*" }}
        </div>
    </div>

{% endfor %}