{% load static %}
{% for chat in chats %}
    <a href="{% url 'messenger:messages' chat.pk %}" class="b-chat-item
{% if not chat.last_message.is_read and chat.last_message.author.pk == user.pk %}
    b-chat-item_unread
{% elif chat in unread_chats %}
    b-chat-item_new-msg
{% endif %}">

        {% if chat.type == 'D' %}
            {% for member in chat.members.all %}
                {% if member.pk != user.pk %}
                    <div style="background-image: url('/media/{{ member.avatar|default:'users_avatars/default.png' }}')"
                         class="b-chat-item__img"></div>
                {% endif %}
            {% endfor %}
        {% else %}
            <div style="background-image: url('/media/{{ chat.image|default:'chat_logos/default.png' }}')"
                 class="b-chat-item__img"></div>
        {% endif %}

        <div class="b-chat-item__content">
            <div class="b-chat-item__username">
                {% if chat.type == 'D' %}
                    {% for member in chat.members.all %}
                        {% if member.pk != user.pk %}
                            {{ member.get_name|default:'Пользователь удален' }}
                        {% endif %}
                    {% endfor %}
                {% else %}
                    {{ chat.title }}
                {% endif %}
            </div>

            <div class="b-chat-item__last-msg">
                {% if chat.type == 'D' %}
                    {% if chat.last_message.author.pk == user.pk %}
                        <span class="b-chat-item__last-msg-author">Вы: </span>
                    {% endif %}
                {% else %}
                    {% if chat.last_message.author.pk != user.pk %}
                        <span class="b-chat-item__last-msg-author">{{ chat.last_message.author.get_name }}:</span>
                    {% endif %}
                {% endif %}

                {% if chat.last_message %}
                    {% if not chat.last_message.message and chat.last_message.image %}
                        <i>Изображение</i>
                    {% else %}
                        {{ chat.last_message }}
                    {% endif %}
                {% else %}
                    <i>Сообщений нет</i>
                {% endif %}
            </div>
        </div>

        <div class="b-chat-item__info">
            <div class="b-chat-item__time">
                {{ chat.last_message.get_date }}
            </div>
            <div class="b-chat-item__counter">
                {% for chat_pk, cnt in unread_msg_cnt.items %}
                    {% if chat_pk == chat.pk %}
                        {{ cnt }}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </a>
{% endfor %}