{% extends 'mainapp/base.html' %}
{% block content %}
    <div class="container content">
        <h2>Профиль Пользователя</h2>
        <div>
            <p>UserName: {{ user.username }}</p>
            <p>First Name: {{ user.first_name }}</p>
            <p>Last Name: {{ user.last_name }}</p>
            <p>Email: {{ user.email }}</p>
            <p>Phone Number: {{ user.phone_number }}</p>
            <p>Avatar: {{ user.avatar }}</p>
            <p>Bio: {{ user.bio }}</p>
            <p>City: {{ user.city }}</p>
            <p>Birthday: {{ user.birth_date }}</p>
            <p>Gender: {{ user.get_gender }}</p>
            <p>Relationships: {{ user.relationship }}</p>
        </div>
    </div>
{% endblock %}