{% extends 'mainapp/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-lg-6 offset-lg-3">
    <div class="b-profile-edit bg-dark-blur">
        <h1 class="b-profile-edit__title">
            Редактирование профиля
        </h1>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <!--        <input type="file" name="avatar" class="b-form__input" placeholder="Аватарка" id="id_avatar">-->
            <div class="b-flex-wrap">
                <div></div>
                <div>
                    {{ form.username|as_crispy_field }}
                    {{ form.first_name|as_crispy_field }}
                    {{ form.last_name|as_crispy_field }}
                    {{ form.patronymic|as_crispy_field }}
                </div>
            </div>

            {{ form.bio|as_crispy_field }}

            <div class="b-flex-wrap">
                {{ form.gender|as_crispy_field }}
                {{ form.city|as_crispy_field }}
            </div>
            <div class="b-flex-wrap">
                {{ form.birth_date|as_crispy_field }}
                {{ form.relationship|as_crispy_field }}
            </div>

            {{ form.phone_number|as_crispy_field }}
            {{ form.email|as_crispy_field }}
            {{ form.avatar|as_crispy_field }}

            <input type="submit" class="b-form__submit b-form__submit_white b-form__submit_margins"
                   value="Сохранить изменения">
            <a href="{% url 'profileapp:detail' user.pk %}" class="b-form__submit">Отменить</a>
        </form>
    </div>
</div>

{% endblock %}